@{
    Layout = null;
}
@using Circle.Core.Utilities.Results
@using Circle.Core.Entities.Concrete
@using Circle.Frontends.Web.Models
@using Circle.Library.Entities.ComplexTypes
@using Circle.Library.Business.Helpers

@model ResponseMessage<List<GroupModel>>


<div id="mdlForm" class="modal-content">
    <div class="modal-header">
        @if (Model.Data.FirstOrDefault().Group.Id == Guid.Empty)
        {
            <h2 class="fw-bolder">Add Rolesss</h2>
        }
        else
        {
            <h2 class="fw-bolder">Update Rolesss - @Model.Data.FirstOrDefault().Group.GroupName</h2>
        }
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-roles-modal-action="close">
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                </svg>
            </span>
        </div>
    </div>
    <div class="modal-body scroll-y mx-5 my-7">
        <form id="kt_modal_update_role_form" class="form" action="#">
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_update_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_role_header" data-kt-scroll-wrappers="#kt_modal_update_role_scroll" data-kt-scroll-offset="300px">
                <div class="fv-row mb-10">
                    <label class="fs-5 fw-bolder form-label mb-2">
                        <span class="required">Rol adı (Türkçe)</span>
                    </label>
                    <input class="form-control form-control-solid" placeholder="rol adı giriniz (türkçe)" name="GroupNameTr" value="@(Model.Data.Where(x => x.Group.LanguageId == LanguageExtension.LanguageId_Tr).Count()>0?Model.Data.Where(x => x.Group.LanguageId == LanguageExtension.LanguageId_Tr).FirstOrDefault().Group.GroupName:"")" />
                </div>
                <div class="fv-row mb-10">
                    <label class="fs-5 fw-bolder form-label mb-2">
                        <span class="required">Rol adı (İngilizce)</span>
                    </label>
                    <input class="form-control form-control-solid" placeholder="rol adı giriniz (ingilizce)" name="GroupNameEn" value="@(Model.Data.Where(x => x.Group.LanguageId == LanguageExtension.LanguageId_En).Count()>0?Model.Data.Where(x => x.Group.LanguageId == LanguageExtension.LanguageId_En).FirstOrDefault().Group.GroupName:"")" />

                </div>
                <div class="fv-row">
                    <label class="fs-5 fw-bolder form-label mb-2">Role Permissions</label>
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5">
                            <tbody class="text-gray-600 fw-bold">
                                <tr>
                                    <td class="text-gray-800">
                                        Administrator Access
                                        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Allows a full access to the system"></i>
                                    </td>
                                    <td>
                                        <label class="form-check form-check-sm form-check-custom form-check-solid me-9">
                                            <input class="form-check-input" type="checkbox" value="" id="kt_roles_select_all" />
                                            <span class="form-check-label" for="kt_roles_select_all">Select all</span>
                                        </label>
                                    </td>
                                </tr>
                                @{ List<OperationClaim> lstSelect = ((List<OperationClaim>)TempData["OperationClaims"]); }
                                @for (int i = 0; i < lstSelect.Count; i = i + 2)
                                {
                                    <tr>
                                        <td class="text-gray-800">@(lstSelect[i].Description)</td>
                                        <td>
                                            <div class="d-flex">
                                                <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                    <input class="form-check-input" data-mode="role" type="checkbox" value="@(lstSelect[i].Id)" name="user_management_read" @(Model.Data.FirstOrDefault().GroupClaims.Where(x => x.OperationClaimId == lstSelect[i].Id).Count() > 0 ? "checked=checked" : "") />
                                                </label>
                                            </div>
                                        </td>
                                        @if (i + 1 < lstSelect.Count)
                                        {
                                            <td class="text-gray-800">@(lstSelect[i+1].Description)</td>
                                            <td>
                                                <div class="d-flex">
                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input class="form-check-input" data-mode="role" type="checkbox" value="@(lstSelect[i+1].Id)" name="user_management_read" @(Model.Data.FirstOrDefault().GroupClaims.Where(x => x.OperationClaimId == lstSelect[i + 1].Id).Count() > 0 ? "checked=checked" : "") />
                                                    </label>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center pt-15">
                <input type="hidden" name="Id" value="@Model.Data.FirstOrDefault().Group.Id" />
                <button type="reset" class="btn btn-light me-3" data-kt-roles-modal-action="cancel">Discard</button>
                <a data-mode="GroupIslem" data-url="@(Model.Data.FirstOrDefault().Group.Id==Guid.Empty?"/Admin/Groups/AddGroup/":"/Admin/Groups/UpdateGroup/")" class="btn btn-primary" data-kt-roles-modal-action="submit">
                    <span class="indicator-label">Submit</span>
                    <span class="indicator-progress">
                        Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </a>
            </div>
        </form>
    </div>
</div>