@model Circle.Library.Entities.ComplexTypes.UserListModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@using Circle.Frontends.Web.Resources

@inject LocService T

    
@(Html.CircleDropdown(Model.DepartmentList)
    .ID("ddlDepartment")
    .SetPlaceHolder("Departman Seçiniz")
    .SetTextField(s=>s.Title)
    .SetValueField(s=>s.Id)
    .IsMultiple(true)
)

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            @(Html.CircleTable(Model.UserList)
            .PKColumn(a => a.Id)
            .HasFooter(false)
            .SetToolbarSearchInputPlaceHolder("Ara Kullanıcı")
            .SetToolbarButton(@T.GetLocalizedHtmlString("Add User"), "modalDepartment")
            .Columns(s =>
            {
                s.Add(t => t.Firstname).Title(@T.GetLocalizedHtmlString("Firstname"));
                s.Add(t => t.Lastname).Title(@T.GetLocalizedHtmlString("Lastname"));
                s.Add(t => t.Email).Title(@T.GetLocalizedHtmlString("Email"));
                s.Add(t => t.MobilePhones).Title(@T.GetLocalizedHtmlString("Phone"));
                s.Add(t => t.BirthDate).Title(@T.GetLocalizedHtmlString("BirthDate"));
                s.Add(t => t.Status).Title(@T.GetLocalizedHtmlString("User Status"));
            })
            .RowButtons(s=>
            {
                s.Add(Circle.Helper.Bootstrap.Grid.Button.GridButtonType.update).Icon("fa-user");
            }))
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>

<div class="modal fade" id="modalDepartment" tabindex="-1" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="modalDepartment_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                    <!--begin::Heading-->
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 class="mb-3">@T.GetLocalizedHtmlString("Add Department")</h1>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span class="required">@T.GetLocalizedHtmlString("Department Title Input TR")</span>
                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter Department Name")"></i>
                        </label>
                        <!--end::Label-->
                        <input type="text" class="form-control form-control-solid" placeholder="@T.GetLocalizedHtmlString("Enter Department Name")" name="TitleTr">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span class="required">@T.GetLocalizedHtmlString("Department Title Input US")</span>
                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter Department Name")"></i>
                        </label>
                        <!--end::Label-->
                        <input type="text" class="form-control form-control-solid" placeholder="@T.GetLocalizedHtmlString("Enter Department Name")" name="TitleUs">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-stack mb-8">
                        <!--begin::Switch-->
                        <label class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" name="Status" value="1" checked="checked">
                            <span class="form-check-label fw-bold text-muted">@T.GetLocalizedHtmlString("Active")/@T.GetLocalizedHtmlString("Passive")</span>
                        </label>
                        <!--end::Switch-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center">
                        <button type="reset" id="modalDepartment_cancel" data-dismiss="modal" class="btn btn-light me-3">@T.GetLocalizedHtmlString("Cancel")</button>
                        <button type="submit" id="modalDepartment_submit" class="btn btn-primary">
                            <span class="indicator-label">@T.GetLocalizedHtmlString("Save")</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                    <div></div>
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

@section Scripts{
    <script src="~/assets/js/custom/departmentmanagement/addDepartment.js"></script>
    @*<script src="~/assets/js/custom/departmentmanagement/list.js" asp-append-version="true"></script>*@
}