@model Circle.Library.Entities.ComplexTypes.UserListModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Circle.Web.Helper.Bootstrap.Grid.Button

@inject IViewLocalizer Localizer


@using Circle.Frontends.Web.Resources

@inject LocService T


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        @*@(Html.CustomTable(Model.UserList)
            .PKColumn(s=> s.Id)
            .Columns(s=>
            {
                s.Add(s => s.Firstname).Sortable(true).Title("Ad");
                s.Add(s => s.Lastname).Sortable(true).Title("Soyad");
                s.Add(s => s.MobilePhones).Title("Telefon");
            })
            .ToolbarButtons(s=>
            {
                s.Add(GridButtonType.insert);
                s.Add(GridButtonType.print);
            })
            .RowButtons(s=>
            {
                s.Add(GridButtonType.update).Icon("fa-user");
                s.Add(GridButtonType.delete).Icon("fa-trash");
            })
        )*@
        @(Html.CircleTable(Model.UserList)
            .PKColumn(a => a.Id)
            .HasFooter(false)
            .SetToolbarSearchInputPlaceHolder("Ara Kullanıcı")
            .SetToolbarButton(@T.GetLocalizedHtmlString("Add User"), "modalUser")
            .Columns(s =>
            {
                s.Add(t => t.Firstname).Title(@T.GetLocalizedHtmlString("Firstname"));
                s.Add(t => t.Lastname).Title(@T.GetLocalizedHtmlString("Lastname"));
                s.Add(t => t.Email).Title(@T.GetLocalizedHtmlString("Email"));
                s.Add(t => t.MobilePhones).Title(@T.GetLocalizedHtmlString("Phone"));
                s.Add(t => t.BirthDate).Title(@T.GetLocalizedHtmlString("BirthDate"));
                s.Add(t => t.Status).Title(@T.GetLocalizedHtmlString("User Status"));
            })
            .RowButtons(s=>
            {
                s.Add(Circle.Helper.Bootstrap.Grid.Button.GridButtonType.update).Icon("fa-user");
            }))
    </div>
    <!--end::Container-->
</div>

<div class="modal fade" id="modalUser" tabindex="-1" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="modalUser_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                    @*Head*@
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 class="mb-3">@T.GetLocalizedHtmlString("Add User")</h1>
                        <!--end::Title-->
                    </div>


                    <div class="row">
                        @*Avatar*@
                        <div class="col-md-12">
                            <!--begin::Label-->
                            <label class="d-block fw-bold fs-6 mb-5">Avatar</label>
                            <!--end::Label-->
                            <!--begin::Image input-->
                            <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(assets/media/avatars/blank.png)">
                                <!--begin::Preview existing avatar-->
                                <div class="image-input-wrapper w-125px h-125px"></div>
                                <!--end::Preview existing avatar-->
                                <!--begin::Label-->
                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Change avatar">
                                    <i class="bi bi-pencil-fill fs-7"></i>
                                    <!--begin::Inputs-->
                                    <input type="file" name="avatar" id="imgAvatar" accept=".png, .jpg, .jpeg">
                                    <input type="hidden" name="avatar_remove">
                                    <!--end::Inputs-->
                                </label>
                                <!--end::Label-->
                                <!--begin::Cancel-->
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="Cancel avatar">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                                <!--end::Cancel-->
                                <!--begin::Remove-->
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove avatar">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                                <!--end::Remove-->
                            </div>
                            <!--end::Image input-->
                            <!--begin::Hint-->
                            <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                            <!--end::Hint-->
                        </div>

                        @*User Groups*@
                        <div class="col-md-12 mt-3 fv-row fv-plugins-icon-container">
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("User Groups")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter Users Groups")"></i>
                            </label>
                            <select class="form-select form-select-solid" name="UserGroups" data-control="select2" multiple data-placeholder="Grup Seçiniz" data-allow-clear="true">
                                <option></option>
                                @foreach (var item in Model.GroupList)
                                {
                                    <option value="@item.Id">@item.GroupName</option>
                                }
                            </select>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*User Department*@
                        <div class="col-md-12 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Select User Department")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Select User Department")"></i>
                            </label>
                            <!--end::Label-->
                            <select class="form-select form-select-solid" name="DepartmentId" data-control="select2" data-placeholder="@T.GetLocalizedHtmlString("Select User Department")" data-allow-clear="true">
                                <option></option>
                                @foreach (var item in Model.DepartmentList)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Firstname*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Firstname")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter User Firstname")"></i>
                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="@T.GetLocalizedHtmlString("Enter User Firstname")" name="Firstname">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Lastname*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Lastname")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter User Lastname")"></i>
                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="@T.GetLocalizedHtmlString("Enter User Lastname")" name="Lastname">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Email*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Email")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter User Email")"></i>
                            </label>
                            <!--end::Label-->
                            <input inputmode="text" class="form-control form-control-solid Email" placeholder="@T.GetLocalizedHtmlString("Enter User Email")" name="Email">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Phone*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Phone")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter User Phone")"></i>
                            </label>
                            <!--end::Label-->
                            <input inputmode="text" class="form-control form-control-solid Telefon" placeholder="@T.GetLocalizedHtmlString("Enter User Phone")" name="MobilePhones">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Birthdate*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Birthdate")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter User Birthdate")"></i>
                            </label>
                            <!--end::Label-->
                            <input inputmode="text" class="form-control form-control-solid Tarih" placeholder="@T.GetLocalizedHtmlString("Enter User Birthdate")" name="BirthDate">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Cinsiyet*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--begin::Label-->
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span>@T.GetLocalizedHtmlString("Gender")</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Choose User Gender")"></i>
                                    </label>
                                </div>
                                <div class="col-md-6 pt-2">
                                    <!--end::Label-->
                                    <div class="form-check form-check-custom form-check-solid">
                                        <input class="form-check-input" type="radio" value="1" checked name="Gender" />
                                        <label class="form-check-label" for="flexRadioSm">
                                            Erkek
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-2">
                                    <!--end::Label-->
                                    <div class="form-check form-check-custom form-check-solid">
                                        <input class="form-check-input" type="radio" value="2" name="Gender" />
                                        <label class="form-check-label" for="flexRadioSm">
                                            Kadın
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*Address*@
                        <div class="col-md-12 mt-3">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span>@T.GetLocalizedHtmlString("Address")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter User Address")"></i>
                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="@T.GetLocalizedHtmlString("Enter User Address")" name="Address">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Notes*@
                        <div class="col-md-12 mt-3">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span>@T.GetLocalizedHtmlString("Notes")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter About User Notes")"></i>
                            </label>
                            <!--end::Label-->
                            <textarea class="form-control" name="Notes" aria-label="With textarea"></textarea>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Status*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--begin::Label-->
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span>@T.GetLocalizedHtmlString("User Status")</span>
                                    </label>
                                </div>
                                <div class="col-md-6 pt-2">
                                    <!--end::Label-->
                                    <div class="form-check form-check-custom form-check-solid">
                                        <input class="form-check-input" type="radio" value="1" checked name="Status" />
                                        <label class="form-check-label" for="flexRadioSm">
                                            @T.GetLocalizedHtmlString("Active")
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-2">
                                    <!--end::Label-->
                                    <div class="form-check form-check-custom form-check-solid">
                                        <input class="form-check-input" type="radio" value="2" name="Status" />
                                        <label class="form-check-label" for="flexRadioSm">
                                            @T.GetLocalizedHtmlString("Passive")
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    @*Actions*@
                    <div class="text-center mt-3">
                        <button type="reset" id="modalUser_cancel" data-dismiss="modal" class="btn btn-light me-3">@T.GetLocalizedHtmlString("Cancel")</button>
                        <button type="submit" id="modalUser_submit" class="btn btn-primary">
                            <span class="indicator-label">@T.GetLocalizedHtmlString("Save")</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

@section Scripts{
    <script src="~/assets/js/custom/usermanagement/addUser.js"></script>
    @*<script src="~/assets/js/custom/departmentmanagement/list.js" asp-append-version="true"></script>*@
}