@model Circle.Library.Entities.ComplexTypes.CategoryListModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@using Circle.Frontends.Web.Resources

@inject LocService T

<div id="kt_content_container" class="container-xxl">
    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
        @foreach (var item in Model.Categories)
        {
            <div class="col-xl-4">
                <!--begin::Statistics Widget 1-->
                <div class="card bgi-no-repeat card-xl-stretch mb-xl-8" style="background-position: right top; background-size: 30% auto; background-image: url(/assets/media/svg/shapes/abstract-4.svg)">
                    <!--begin::Body-->
                    <div class="card-body">
                        <a asp-action="CreateCode" asp-area="Admin" asp-controller="Products" asp-route-guid="@item.Id" class="card-title text-dark fw-bolder  text-hover-primary fs-4">@item.Name</a>
                        <p class="text-muted fw-bold fs-5 m-0">
                            @Html.Raw(@item.Description)
                        </p>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Statistics Widget 1-->
            </div>
        }
        <div class="col-xl-4">
            <!--begin::Statistics Widget 1-->
            <div class="card bgi-no-repeat card-xl-stretch mb-xl-8" style="background-position: right top; background-size: 30% auto; background-image: url(/assets/media/svg/shapes/abstract-4.svg)">
                <!--begin::Body-->
                <div class="card-body">
                    <a href="#" class="card-title text-dark fw-bolder  text-hover-primary fs-4">Yeni Başlık Oluştur</a>
                    <p class="text-muted fw-bold fs-5 m-0">
                        Yeni kategori oluşturmak için tıklayın
                    </p>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Statistics Widget 1-->
        </div>
    </div>
    @if (Context.Request.QueryString.HasValue)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="card bgi-no-repeat card-xl-stretch mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body">
                        <span class="text-dark"> Ürün Kodu : </span>
                        <span class="text-dark"> @Model.ProductCode</span>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
            <div class="col-md-12">
                <!--begin::Action-->
                <a asp-area="Admin" asp-action="CreateProduct" asp-controller="Products" class="btn btn-primary">@T.GetLocalizedHtmlString("Create Product")</a>
                <!--end::Action-->
            </div>
        </div>
    }
    <!--end::Row-->
</div>
