@model Circle.Library.Entities.ComplexTypes.ProductItem

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@using Circle.Frontends.Web.Resources

@inject LocService T

<div id="kt_content_container" class="container-xxl">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title" id="ProductName">@Model.Product.Name</h3>
            <div class="card-toolbar">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" onclick="productUpdateModal()" class="btn btn-sm btn-secondary"><i class="fa fa-edit"></i>&nbsp; Düzenle</button>
                    <button type="button" onclick="productDetailModal()" class="btn btn-sm btn-secondary"><i class="fa fa-plus"></i>&nbsp; Yeni Ürün Ekle</button>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="row p-4">
                <div class="col-md-2 align-self-center text-center">
                    <div class="symbol symbol-125px">
                        <div class="symbol-label" id="divProductImage" style="background-image: url(@Model.Product.ImageString)"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            Ana Ürün Kodu :
                        </div>
                        <div class="col-md-9">
                            <span id="spanProductName">@Model.Product.ProductCode</span>

                        </div>
                        <div class="col-md-12">
                            <hr />
                        </div>
                        <div class="col-md-12 mt-2">
                            @Html.Raw(Model.Product.Description)
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="row p-5">
                <div class="col-m-12">
                    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#urunListesi">Katalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_5">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">Campaigns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">Documents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">Connections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">Activity</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="urunListesi" role="tabpanel">
                            <table class="table table-hover table-rounded table-striped border gy-7 gs-7">
                                <thead>
                                    <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                        <th>Hammadde</th>
                                        <th>Hammadde Çeşidi</th>
                                        <th>Çap</th>
                                        <th>Uzunluk</th>
                                        <th>Ürün Kodu</th>
                                        <th class="text-center">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProductDetailList)
                                    {
                                    <tr>
                                        <td>@item.MaterialName</td>
                                        <td>@item.MaterialDetailName</td>
                                        <td>@item.Diameter</td>
                                        <td>@item.Length</td>
                                        <td>
                                            @Model.Product.ProductCode@item.ProductCode
                                        </td>
                                        <td style="width:100px">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                                <button type="button" class="btn btn-success btn-sm btn-outline-dark"><i class="fa fa-trash"></i></button>
                                                <button type="button" class="btn btn-success btn-sm  btn-outline-dark"><i class="fa fa-edit"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProduct" tabindex="-1" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="modalProduct_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                    @*Head*@
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 class="mb-3">@T.GetLocalizedHtmlString("Update Product")</h1>
                        <!--end::Title-->
                    </div>


                    <div class="row">
                        @*Avatar*@
                        <div class="col-md-12">
                            <!--begin::Label-->
                            <label class="d-block fw-bold fs-6 mb-5">@T.GetLocalizedHtmlString("Product Image")</label>
                            <!--end::Label-->
                            <!--begin::Image input-->
                            <div class="image-input image-input-outline" data-kt-image-input="true">
                                <!--begin::Preview existing avatar-->
                                <div class="image-input-wrapper w-125px h-125px" id="divUpdateProductImage"></div>
                                <!--end::Preview existing avatar-->
                                <!--begin::Label-->
                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Change avatar">
                                    <i class="bi bi-pencil-fill fs-7"></i>
                                    <!--begin::Inputs-->
                                    <input type="file" name="avatar" id="imgAvatar" accept=".png, .jpg, .jpeg">
                                    <input type="hidden" name="avatar_remove">
                                    <!--end::Inputs-->
                                </label>
                                <!--end::Label-->
                                <!--begin::Cancel-->
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="Cancel avatar">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                                <!--end::Cancel-->
                                <!--begin::Remove-->
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove avatar">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                                <!--end::Remove-->
                            </div>
                            <!--end::Image input-->
                            <!--begin::Hint-->
                            <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                            <!--end::Hint-->
                        </div>

                        @*Product Name*@
                        <div class="col-md-12 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Product Name")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter Product Name")"></i>
                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="@T.GetLocalizedHtmlString("Enter Product Name")" id="ProductName" name="ProductName" autocomplete="off" value="@Model.Product.Name">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        @*Product Description*@
                        <div class="col-md-12 mt-3 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">@T.GetLocalizedHtmlString("Product Description")</span>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="@T.GetLocalizedHtmlString("Enter Product Name")"></i>
                            </label>
                            <!--end::Label-->
                            <textarea id="ProductDescription" name="ProductDescription">
                                @Model.Product.Description
                            </textarea>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                    </div>
                    <br />
                    @*Actions*@
                    <div class="text-center mt-3">
                        <input type="hidden" class="form-control form-control-solid" id="ProductCategoryId" value="@Model.Product.CategoryId" name="ProductCategoryId">
                        <input type="hidden" class="form-control form-control-solid" id="ProductId" value="@Model.Product.Id" name="ProductId">
                        <button type="reset" id="modalProduct_cancel" data-dismiss="modal" class="btn btn-light me-3">@T.GetLocalizedHtmlString("Cancel")</button>
                        <button type="submit" id="modalProduct_submit" class="btn btn-primary">
                            <span class="indicator-label">@T.GetLocalizedHtmlString("Save")</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

<div class="modal fade" id="modalProductDetail" tabindex="-1" aria-hidden="true" style="display: none;" data-keyboard="false" data-backdrop="static">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="modalProductDetail_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                    @*Head*@
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 id="h1ProductTitle" class="mb-3">
                        </h1>
                        <!--end::Title-->
                    </div>

                    <div class="row">
                        @*Hammadde*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <label for="exampleFormControlInput1" class="required form-label">Hammadde</label>
                            <CircleSelect Name="selectMaterial"
                                          Url="/Admin/Products/GetListMaterials"
                                          ParentModal="modalProductDetail"
                                          QueryParam="productId"
                                          TextField="Name"
                                          ValueField="Id"
                                          ChildControlId="selectMaterialDetail"
                                          PlaceHolder="Hammadde Seçiniz">
                            </CircleSelect>
                            @*<Dropdown url="/Admin/Products/GetListMaterials"
                                          text-field="Name"
                                          place-holder="Hammadde Seçiniz"
                                          name="selectMaterial"
                                          child-name="selectMaterialDetail"
                                          query-string="productId"
                                          param-name="materialId"
                                          parent-modal="modalProductDetail"
                                          value-field="Id">
                                </Dropdown>*@
                        </div>
                        @*Hammadde Çeşidi*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <label for="exampleFormControlInput1" class="required form-label">Hammadde Çeşidi</label>
                            <CircleSelect Name="selectMaterialDetail"
                                          Url="/Admin/Products/GetListMaterialDetails"
                                          ParentModal="modalProductDetail"
                                          TextField="Name"
                                          ValueField="Id"
                                          ParamName="materialId"
                                          PlaceHolder="Hammadde Detay Seçiniz">
                            </CircleSelect>
                        </div>
                        @*Product Name*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <label for="exampleFormControlInput1" class="required form-label">Diameter</label>
                            <CircleSelect Name="selectDiameter"
                                          Url="/Admin/Products/GetListDiameters"
                                          ParentModal="modalProductDetail"
                                          TextField="Name"
                                          ValueField="Id"
                                          QueryParam="productId"
                                          PlaceHolder="Diameter Seçiniz">
                            </CircleSelect>
                        </div>
                        @*Product Name*@
                        <div class="col-md-6 mt-3 fv-row fv-plugins-icon-container">
                            <label for="exampleFormControlInput1" class="required form-label">Length</label>
                            <CircleSelect Name="selectLength"
                                          Url="/Admin/Products/GetListLengths"
                                          ParentModal="modalProductDetail"
                                          TextField="Name"
                                          ValueField="Id"
                                          QueryParam="productId"
                                          PlaceHolder="Length Seçiniz">
                            </CircleSelect>
                        </div>
                    </div>
                    <br />
                    @*Actions*@
                    <div class="text-center mt-3">
                        <input type="hidden" class="form-control form-control-solid" id="ProductCategoryId" value="@Model.Product.CategoryId" name="ProductCategoryId">
                        <input type="hidden" class="form-control form-control-solid" id="ProductId" value="@Model.Product.Id" name="ProductId">
                        <button type="reset" id="modalProductDetail_cancel" data-dismiss="modal" class="btn btn-light me-3">@T.GetLocalizedHtmlString("Cancel")</button>
                        <button type="submit" id="modalProductDetail_submit" class="btn btn-primary">
                            <span class="indicator-label">@T.GetLocalizedHtmlString("Save")</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

@section Scripts{
    <script src="~/assets/js/custom/productmanagement/product.js"></script>
    <script src="~/assets/js/custom/productmanagement/productDetail.js"></script>
}