@model List<Circle.Library.Entities.ComplexTypes.ProductModel>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@using Circle.Frontends.Web.Resources

@inject LocService T

<div id="kt_content_container" class="container-xxl">
    <div class="card shadow-sm">
        <div class="card-body p-0">
            <div class="row p-5">
                <div class="col-m-12">
                    <div class="table-responsive-sm">
                        <table class="table table-sm table-rounded border table-bordered gs-7 align-middle">
                            <thead class="table-light">
                                <tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200 h-50px align-middle">
                                    <th>Ürün Adı</th>
                                    <th>Ürün Kodu</th>
                                    <th>Alt Ürün Sayısı</th>
                                    <th class="text-center">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.ProductCode</td>
                                        <td>@item.SubProductCount</td>
                                        <td style="width:100px">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                                <button class="btn btn-sm btn-success" id="btnDeleteProduct" title="Ürünü Sil" data-id="@item.Id"><i class="fa fa-trash"></i></button>
                                                <a class="btn btn-sm btn-success" title="Ürün Detayına Git" asp-action="Product" asp-area="Admin" asp-controller="Products" asp-route-productId="@item.Id"><i class="fa fa-directions"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/custom/productmanagement/productList.js" asp-append-version="true"></script>
}